---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a dedicated professional currently contracted by Coforge, working with HMRC. I am working on an agile
development team utilizing my experience in Java programming and various OpenText products. Complementing my 
practical experience, in 2022 I completed a philosophy degree with First-Class Honours. Notably, my dissertation on 
Effective Altruism earned a top grade.
<div class="mb-5"></div>
Demonstrating my independent drive to acquire new skills, I have self taught musical instruments, music production, 
and game development. Furthermore, my commitment to making a positive impact was displayed through my role as 
a key worker during the COVID-19 pandemic. This experience forced me to learn the correct utilization of personal 
protective equipment (PPE) and adhere to strict medical and business protocols
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1st Class BA Honours Philosophy Degree"
      subtitle="2019 to 2022 at Oxford Brookes University, Oxford, UK"
    />
    <TimeLineElement
      title="A Levels: Geography (C), Computer Science (C), Philosophy, Ethics and Religion (C)"
      subtitle="2017 to 2019 at Hereford Sixth Form College, Hereford, UK"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Associate Software Engineer"
      subtitle="From June 2022 to Now at Coforge, Remote"
    >
    Currently employed at Coforge Ltd. I have gained valuable experience in working with Open Text 
    products and have acquired fundamental skills in Java programming. I have shadowed a
    development team utilizing an agile development methodology. This involved actively participating 
    in daily stand-up calls and the utilization of Jira boards as well as other commonly used software 
    tools. I have worked directly with business partners to implement a number of bespoke proprietary 
    software with java offering new functionality, such as creating automated spreadsheets and charts 
    using Aspose Libraries.
    
    </TimeLineElement>
    <TimeLineElement
      title="Self Employed Music Producer"
      subtitle="From August 2018 to Now"
    >
    I produce music in my spare time and release it to music streaming services earning a small income, 
    dealing with marketing, production, and releasing all myself, outsourcing to an artist for album art. I 
    self-taught myself how to produce music over a few years and still produce music today. I have also
    done freelance work in the past creating music for customers on the website Five
    </TimeLineElement>
    <TimeLineElement
      title="Healthcare Worker on the Coronavirus Infection Study"
      subtitle="From July 2019 to July 2020 at Kantar Global, Oxford, UK"
    >
    During the COVID-19 pandemic, I had the opportunity to work for KANTAR Global, in collaboration 
    with IQVIA and the ONS, on the data collection efforts for the Coronavirus Infection Study. This data 
    played an important role in calculating the R number and informing government policies. Training in 
    the proper use of personal protective equipment (PPE) and online government portals to order 
    swabs enabled me to follow safe practices. Working independently, Salesforce software was utilized 
    to contact participants and organize visits. This involved collecting data and providing participants 
    with instructions on self-administering COVID-19 swabs in a safe manner. In addition, compliance 
    with GDPR laws and secure data collection from participants was a crucial aspect of my 
    responsibilities.    
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a target="_blank"> RYA Level 2 Sailing Level </a>
    </li>
    <li>
      <a target="_blank"> Driving Licence</a>
    </li>
    <li>
      <a target="_blank"> Clarinet Grade 3</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C#</li>
    <li>Unity</li>
    <li>Blender</li>
    <li>Aesprite</li>
    <li>Java</li>
    <li>Open Text Documentum</li>
    <li>Open Text XCP Designer</li>
    <li>FL Studio</li>
  </ul>
</BaseLayout>
