---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a dedicated professional currently contracted by Coforge, working with HMRC. I am working on an agile development team utilising my experience in Java programming and various OpenText products. Complementing my practical experience, in 2022 I completed a Philosophy degree with First-Class Honours. Notably, my dissertation on Effective Altruism earned a top grade. 



<div class="mb-5"></div>
Demonstrating my independent drive to acquire new skills, I have learned musical instruments independently, as well as music production and game development. Furthermore, my commitment to making a positive impact was displayed through my role as a key worker during the COVID-19 pandemic. My long-term goal is to move into a creative field, specifically game development. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1st Class BA Honours Philosophy Degree"
      subtitle="2019 to 2022 at Oxford Brookes University, Oxford, UK"
    />
    <TimeLineElement
      title="A Levels: Geography (C), Computer Science (C), Philosophy, Ethics and Religion (C)"
      subtitle="2017 to 2019 at Hereford Sixth Form College, Hereford, UK"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Associate Software Engineer"
      subtitle="From June 2022 to Now at Coforge, Remote"
    >
    Currently employed at Coforge Ltd, working with Open Text products and have acquired fundamental skills in Java programming. Shadowed a development team utilising an agile development methodology which involved actively participating in daily stand-up calls and the use of Jira boards. Worked directly with business partners to implement several bespoke proprietary software with Java offering new functionality, such as creating automated spreadsheets and charts using Aspose Libraries.
    
    </TimeLineElement>
    <TimeLineElement
      title="Self Employed Music Producer"
      subtitle="From August 2018 to Now"
    >
    Produce music in my spare time and release it to music streaming services, dealing with marketing, production, and release. Have frequently outsourced to an artist for album art and completed freelance work creating music for customers on the website Fiver.
    </TimeLineElement>
    <TimeLineElement
      title="Healthcare Worker on the Coronavirus Infection Study"
      subtitle="From July 2019 to July 2020 at Kantar Global, Oxford, UK"
    >
    Worked for Kantar Global in collaboration with IQVIA and the ONS on the data collection efforts for the Coronavirus Infection Study. This data played an important role in calculating the R number and informing government policies. Completed training in the proper use of PPE and online government portals. Utilised Salesforce software to independently contact participants and organise visits. Responsibilities included compliance with GDPR laws, safe collection of data and informing participants on self-administration of COVID-19 Swab Kits.    
    </TimeLineElement>
  </div>



  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-5">
    <li>C#</li>
    <li>Unity</li>
    <li>Blender</li>
    <li>Aesprite</li>
    <li>Java</li>
    <li>Open Text Documentum</li>
    <li>Open Text XCP Designer</li>
    <li>FL Studio</li>
  </ul>
</BaseLayout>
