---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a dedicated professional currently contracted by Coforge, working with HMRC. I am working on an agile development team utilising my experience in Java programming and various OpenText products. Complementing my practical experience, in 2022 I completed a Philosophy degree with First-Class Honours. Notably, my dissertation on Effective Altruism earned a top grade. 



<div class="mb-5"></div>
Demonstrating my independent drive to acquire new skills, I have learned musical instruments independently, as well as music production and game development. Furthermore, my commitment to making a positive impact was displayed through my role as a key worker during the COVID-19 pandemic. My long-term goal is to move into a creative field, specifically game development. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1st Class BA Honours Philosophy Degree"
      subtitle="2019 to 2022 at Oxford Brookes University, Oxford, UK"
    />
    <TimeLineElement
      title="A Levels: Geography (C), Computer Science (C), Philosophy, Ethics and Religion (C)"
      subtitle="2017 to 2019 at Hereford Sixth Form College, Hereford, UK"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Associate Software Engineer"
      subtitle="From June 2022 to Now at Coforge, Remote"
    >
    Currently employed at Coforge Ltd, working with Open Text products and have acquired fundamental skills in Java programming. Shadowed a development team utilising an agile development methodology which involved actively participating in daily stand-up calls and the use of Jira boards. Worked directly with business partners to implement several bespoke proprietary software with Java offering new functionality, such as creating automated spreadsheets and charts using Aspose Libraries.
    
    </TimeLineElement>
    <TimeLineElement
      title="Self Employed Music Producer"
      subtitle="From August 2018 to Now"
    >
    Produce music in my spare time and release it to music streaming services, dealing with marketing, production, and release. Have frequently outsourced to an artist for album art and completed freelance work creating music for customers on the website Fiver.
    </TimeLineElement>
    <TimeLineElement
      title="Healthcare Worker on the Coronavirus Infection Study"
      subtitle="From July 2019 to July 2020 at Kantar Global, Oxford, UK"
    >
    Worked for Kantar Global in collaboration with IQVIA and the ONS on the data collection efforts for the Coronavirus Infection Study. This data played an important role in calculating the R number and informing government policies. Completed training in the proper use of PPE and online government portals. Utilised Salesforce software to independently contact participants and organise visits. Responsibilities included compliance with GDPR laws, safe collection of data and informing participants on self-administration of COVID-19 Swab Kits.    
    </TimeLineElement>
  </div>

  <div class="mb-5">
  <div class="text-3xl w-full font-bold">Personal Interests</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="Music Production"
    >
      
    I have an interest in music production and have released an EP and a single on streaming services. I also produce music in my free time and have independently learned the drums. I performed the drums live at my local church multiple times building my confidence in public performances. Self-teaching myself these skills has increased my self-determination and resilience.

    </TimeLineElement>
    <TimeLineElement
    title="Athletics"
    >
    
    I completed my first sprint triathlon in April 2023, after starting my training less than a year before. I also completed 2 10k running events over the past year. The training and events tested my endurance and mindset, with self-discipline being the most important skills I learned.
  </TimeLineElement>
    <TimeLineElement
    title="Video Games"
    >
    
    I play video games in my spare time and have been keenly interested in the video games industry since a young age. I have experience in games from many genres, such as League of Legends, Rimworld and Terraria with The Outer Wilds being a notable favourite.

    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Key Skills</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="IT Skills"
    >
    I am well versed in most basic computer programs as well as being able to code in C# and Java. I am proficient with audio and video editing programs such as Hitfilm, FL Studio and Audacity. I have experience in game development engines such as Unity and Unreal Engine. In Unity I have developed experiences for virtual reality and am keenly interested in VR technology and advancements. Recently I have tried to expand my skill set by learning blender for animation and asset creation, and created a series of YouTube tutorials, peaking at 21 thousand views. Additionally I have started learning pixel art and animation with Aseprite. I have worked backstage at events, running the audio for multiple church services, using a mixing desk, and changing levels and pre-sets when necessary.


    </TimeLineElement>
    <TimeLineElement
    title="Communication Skills"

    >
    As a key worker, I learned key communication skills, clearly explaining how to self-administer COVID-19 PCR tests as well as being friendly with participants as we walked through the questions assigned. Public speaking at my local church also helped with my confidence in communication.
  </TimeLineElement>
    <TimeLineElement
    title="Leadership Skills"
    >
    I was involved in my local church where I had public speaking roles, was safeguard trained and DBS checked to work with children and hosted several holiday clubs. I was on the executive board of the Christian union at Oxford Brookes University where I arranged events for international students through the pandemic to ensure they were comfortable arriving in the UK, as well as other administrative tasks. I led multiple events where I had public speaking roles over zoom and in person. 


    </TimeLineElement>
  </div>




  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-5">
    <li>C#</li>
    <li>Unity</li>
    <li>Blender</li>
    <li>Aesprite</li>
    <li>Java</li>
    <li>Open Text Documentum</li>
    <li>Open Text XCP Designer</li>
    <li>FL Studio</li>
  </ul>
</BaseLayout>
