---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
---

<BaseLayout title = "Icosphere" sideBarActiveItemID="projects">
  

</div>
<div class="center">
  <img src="icosphereGameplay.gif" alt="Avacado Gameplay Gif">
</div>

<div>
  <div class="pb-5 mt-5"></div>
  <div>
    <div class="text-4xl w-full font-bold">Icosphere</div>
  </div>
  <div>
    <div class="mb-5"></div>
  </div>
  <div>
    <div class="text-1xl">10th July 2021</div>
  </div>
  <div>
    <div class="pb-8 mt-5">
  
    <div class="divider my-0" />
  </div>


  <text class="text-lg">
    Icosphere was my first ever game jam, and I leaned hard lessons on scope creep during this time. I was new to completing games and had tended to dream big in terms of my goals for previous projects. With Icosphere it started off big, as shown below I was trying to use the bulky Puppet Master asset to create ragdolls, with which you could interact. In the end we had to salvage the movement mechanics we had completed and create a wave shooter. Although it was frustrating to have wasted so much time on unused systems, I learned that it is not the complexity of a system which makes it fun for a user. It is usually the gameplay opportunities it opens.
</text>
<div>
  <div class="mb-5"></div>
</div>
<div>
  <img src="icosphereEarlyGameplay.gif" alt="Icosphere Early Gameplay">
</div>
<div>
  <div class="mb-5"></div>
</div>
<div>
  <div class="mb-5"></div>
</div>
<div>
  <div class="text-3xl w-full">What I Learned</div>
</div>

  <div>
    <div class="mb-5"></div>
  </div>
  <text class="text-lg">
    From the development of Icosphere I learned how a simple fun mechanic can make even a basic wave shooter interesting. I also learned how useful drip-feeding content to the player can be for longevity. For instance, locking upgrades behind currency lets the user feel like they are progressing toward a meaningful goal, rather than mindlessly fighting waves of enemies until they lose. I also leaned a lot about 3D workflows in Unity and the importance of creating modular assets. I spent a lot of time using Unity’s physics engine to create the movement, and getting it feeling right was an accomplishment.
  </text>
  <div class="centre">
    <div class="mt-8">
      <a class="btn"  href="https://jack-hk.itch.io/icosphere" target="_blank"> Download</a>
    </div>
  </div>
  
</BaseLayout>
